body {
  background-color: #efefef;
  font-family: "Helvetica", Arial, sans-serif; }

header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ed1c24;
  color: white;
  font-size: 4em;
  width: 100%; }
  header .user-info {
    display: inline-block;
    width: 65%;
    border: none grey thin;
    padding-top: .7em;
    background-color: #ed1c24; }
    header .user-info h1 {
      font-size: 1.4em;
      font-weight: 400;
      letter-spacing: -.025em;
      border: none white thin;
      margin-top: -.25em;
      padding-left: .4em; }
    header .user-info h2 {
      font-weight: 100;
      font-style: italic;
      letter-spacing: -.05em;
      margin-top: 0em;
      padding-left: .7em; }
  header .logo {
    float: right;
    display: inline-block;
    border: solid white thin;
    width: 34%;
    background-color: white;
    text-align: center;
    padding-top: .45em;
    padding-bottom: 1.6em; }
  header img {
    border: none white thin;
    display: inline-block;
    width: 80%; }

.container {
  border: none grey thin;
  position: absolute;
  top: 15em;
  bottom: 25em;
  width: 100%;
  overflow: scroll;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em; }
  .container .me {
    float: right; }
  .container .ai {
    float: left; }
  .container .box {
    text-align: left;
    width: 85%;
    border: solid grey thin;
    background-color: white;
    border-radius: 7px;
    padding: 0em;
    margin-bottom: 1.5em;
    margin-right: 3em;
    margin-left: 3em; }
    .container .box .box-header {
      position: relative;
      border-bottom: solid lightgrey 3px;
      padding-top: .5em;
      padding-bottom: .5em;
      padding-left: 1.5em;
      padding-right: 3em;
      margin: 0 auto; }
    .container .box .box-user {
      display: inline-block; }
      .container .box .box-user h3 {
        display: inline-block;
        color: #ed1c24;
        font-size: 3.5em;
        font-weight: bolder;
        padding-bottom: .2em;
        padding-right: .5em;
        border: none red thin; }
      .container .box .box-user h4 {
        display: inline-block;
        color: grey;
        font-size: 3.2em;
        font-weight: 100;
        font-style: italic;
        letter-spacing: -.05em; }
    .container .box .time {
      color: grey;
      width: 50%;
      font-size: 2em;
      font-weight: 100;
      float: right;
      padding-top: .2em;
      text-align: right; }
    .container .box .text-content {
      padding-top: .75em;
      padding-left: 1em;
      padding-bottom: .5em;
      color: black;
      font-size: 3em;
      letter-spacing: -.04em; }
  .container .me .box-header:before {
    content: "";
    position: absolute;
    right: -3%;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid lightgrey;
    border-bottom: 30px solid transparent;
    border-radius: 50px; }
  .container .me .box-header:after {
    content: "";
    position: absolute;
    right: -2.5%;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid white;
    border-bottom: 30px solid transparent;
    border-radius: 50px; }
  .container .ai .box-header:before {
    content: "";
    position: absolute;
    right: 99.5%;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid lightgrey;
    border-bottom: 30px solid transparent;
    border-radius: 50px; }
  .container .ai .box-header:after {
    content: "";
    position: absolute;
    right: 99%;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid white;
    border-bottom: 30px solid transparent;
    border-radius: 50px; }

.input-section {
  position: fixed;
  bottom: 0;
  height: 28em;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  background-color: lightgrey; }
  .input-section textarea {
    background: url(../imgs/background_2.png) right bottom no-repeat;
    /* This ruins default border */
    background-color: white;
    width: 98%;
    height: 5em;
    border-radius: 10px;
    border: none;
    font-size: 3.5em;
    letter-spacing: -.05em;
    font-weight: lighter;
    font-style: italic;
    padding: .25em .3em; }
  .input-section .button {
    width: 97.5%;
    height: 2.2em;
    font-size: 4em;
    color: white;
    font-weight: 600;
    float: right;
    margin-right: .2em;
    margin-top: .2em;
    border: none;
    border-radius: 7px;
    background-color: #ed1c24; }
  .input-section .button:active {
    color: #ed1c24;
    background-color: lightgrey; }

@media (max-width: 500px) {
  /* For tablets: */
  header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: blue;
    color: white;
    font-size: 4em;
    width: 100%; }
    header .user-info {
      display: inline-block;
      width: 65%;
      border: none grey thin;
      padding-top: .7em;
      background-color: blue; }
      header .user-info h1 {
        font-size: 1.4em;
        font-weight: 400;
        letter-spacing: -.025em;
        border: none white thin;
        margin-top: -.25em;
        padding-left: .4em; }
      header .user-info h2 {
        font-weight: 100;
        font-style: italic;
        letter-spacing: -.05em;
        margin-top: 0em;
        padding-left: .7em; }
    header .logo {
      float: right;
      display: inline-block;
      border: solid white thin;
      width: 34%;
      background-color: white;
      text-align: center;
      padding-top: .45em;
      padding-bottom: 1.6em; }
    header img {
      border: none white thin;
      display: inline-block;
      width: 80%; } }

/*# sourceMappingURL=main.css.map */
